.colorgame-btn {
  background-color: rgb(135, 88, 245);
  color: white;
  padding: 0.25em;
  border-radius: 3%;
  font-size: 20px;
  outline: none;
  border-color: rgb(160, 123, 245);
  margin-top: 0.5em;
}

.colorgame_buttons {
  display: flex;
  flex-direction: column;
}

.colorgame-btn:hover {
  background-color: rgb(118, 77, 212);
}

.colorgame_sliders {
  display: flex;
  flex-direction: column;
}

.colorgame_sliders input {
  margin-top: 2em;
}

.span_colorvalues {
  margin-left: 0.5em;
}

input[type="range"] {
  height: 42px;
  -webkit-appearance: none;
  width: 90%;

  padding-left: 10%;
  background-color: antiquewhite;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #ff0000;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 34px;
  width: 25px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ff0000;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #ff0000;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 34px;
  width: 25px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ff0000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #ff0000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 34px;
  width: 25px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ff0000;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ff0000;
}

#green::-webkit-slider-runnable-track {
  background: green;
}

#blue::-webkit-slider-runnable-track {
  background: blue;
}
